<div class="wrapper">
    <div class="clear-position">
        <div class="save-order-user-details" ng-show="emptyCart">
            <div class="auth-pop-block">
                <p> </p>
                <p>Your Cart is Empty</p>
                <div class="col-md-12 nosidepadding">
                    <a ng-click="gotoPricing()" target="_self" href="pricing" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
        <div class="save-order-user-details" ng-show="saveRegister">
            <div class="auth-pop-block" ng-hide="authSaveOrder">
                <h3>SAVE YOUR ORDER</h3>
                <div class="registration-block col-md-12">
                    <form name="regFormsave">
                        <div class="form-group col-md-12 nosidepadding title">
                            <select class="form-control col-md-2" ng-model="saveReg.title"
                                ng-init="saveReg.title = 'Mr'">
                                <option>Mr</option>
                                <option>Miss</option>
                                <option>Mrs</option>
                            </select>
                            <input type="text" name="fname" class="form-control col-md-9" ng-model="saveReg.first_name"
                                placeholder="First Name" required>
                            <p class="text-danger" ng-show="regFormsave.fname.$touched && regFormsave.fname.$invalid">
                                Enter first name.</p>
                        </div>
                        <div class="form-group col-md-12 nosidepadding">
                            <input type="text" name="lname" class="form-control col-md-12" ng-model="saveReg.last_name"
                                placeholder="Last Name" required>
                            <p class="text-danger" ng-show="regFormsave.lname.$touched && regFormsave.lname.$invalid">
                                Enter last name.</p>
                        </div>
                        <div class="form-group col-md-12 nosidepadding">
                            <input type="text" name="company" class="form-control col-md-12" ng-model="saveReg.company"
                                placeholder="Company Name" required>
                            <p class="text-danger"
                                ng-show="regFormsave.company.$touched && regFormsave.company.$invalid">Enter company
                                name.</p>
                        </div>
                        <div class="form-group col-md-12 nosidepadding">
                            <input type="email" name="email" class="form-control col-md-12" ng-model="saveReg.email"
                                placeholder="Email" required>
                            <p class="text-danger" ng-show="regFormsave.email.$touched && regFormsave.email.$invalid">
                                Enter valid email.</p>
                            <p ng-show="errormsg.emailerror.length>0">{{errormsg.emailerror}}</p>
                        </div>
                        <div class="form-group col-md-12 nosidepadding cc">
                            <select name="countryCode" id="" class="form-control col-md-2 "
                                ng-model="saveReg.country_code" ng-init="saveReg.country_code='+91'">
                                <option data-countryCode="DZ" value="+213">Algeria (+213)</option>
                                <option data-countryCode="AD" value="+376">Andorra (+376)</option>
                                <option data-countryCode="AO" value="+244">Angola (+244)</option>
                                <option data-countryCode="AI" value="+1264">Anguilla (+1264)</option>
                                <option data-countryCode="AG" value="+1268">Antigua &amp; Barbuda (+1268)</option>
                                <option data-countryCode="AR" value="+54">Argentina (+54)</option>
                                <option data-countryCode="AM" value="+374">Armenia (+374)</option>
                                <option data-countryCode="AW" value="+297">Aruba (+297)</option>
                                <option data-countryCode="AU" value="+61">Australia (+61)</option>
                                <option data-countryCode="AT" value="+43">Austria (+43)</option>
                                <option data-countryCode="AZ" value="+994">Azerbaijan (+994)</option>
                                <option data-countryCode="BS" value="+1242">Bahamas (+1242)</option>
                                <option data-countryCode="BH" value="+973">Bahrain (+973)</option>
                                <option data-countryCode="BD" value="+880">Bangladesh (+880)</option>
                                <option data-countryCode="BB" value="+1246">Barbados (+1246)</option>
                                <option data-countryCode="BY" value="+375">Belarus (+375)</option>
                                <option data-countryCode="BE" value="+32">Belgium (+32)</option>
                                <option data-countryCode="BZ" value="+501">Belize (+501)</option>
                                <option data-countryCode="BJ" value="+229">Benin (+229)</option>
                                <option data-countryCode="BM" value="+1441">Bermuda (+1441)</option>
                                <option data-countryCode="BT" value="+975">Bhutan (+975)</option>
                                <option data-countryCode="BO" value="+591">Bolivia (+591)</option>
                                <option data-countryCode="BA" value="+387">Bosnia Herzegovina (+387)</option>
                                <option data-countryCode="BW" value="+267">Botswana (+267)</option>
                                <option data-countryCode="BR" value="+55">Brazil (+55)</option>
                                <option data-countryCode="BN" value="+673">Brunei (+673)</option>
                                <option data-countryCode="BG" value="+359">Bulgaria (+359)</option>
                                <option data-countryCode="BF" value="+226">Burkina Faso (+226)</option>
                                <option data-countryCode="BI" value="+257">Burundi (+257)</option>
                                <option data-countryCode="KH" value="+855">Cambodia (+855)</option>
                                <option data-countryCode="CM" value="+237">Cameroon (+237)</option>
                                <option data-countryCode="CA" value="+1">Canada (+1)</option>
                                <option data-countryCode="CV" value="+238">Cape Verde Islands (+238)</option>
                                <option data-countryCode="KY" value="+1345">Cayman Islands (+1345)</option>
                                <option data-countryCode="CF" value="+236">Central African Republic (+236)</option>
                                <option data-countryCode="CL" value="+56">Chile (+56)</option>
                                <option data-countryCode="CN" value="+86">China (+86)</option>
                                <option data-countryCode="CO" value="+57">Colombia (+57)</option>
                                <option data-countryCode="KM" value="+269">Comoros (+269)</option>
                                <option data-countryCode="CG" value="+242">Congo (+242)</option>
                                <option data-countryCode="CK" value="+682">Cook Islands (+682)</option>
                                <option data-countryCode="CR" value="+506">Costa Rica (+506)</option>
                                <option data-countryCode="HR" value="+385">Croatia (+385)</option>
                                <option data-countryCode="CU" value="+53">Cuba (+53)</option>
                                <option data-countryCode="CY" value="+90392">Cyprus North (+90392)</option>
                                <option data-countryCode="CY" value="+357">Cyprus South (+357)</option>
                                <option data-countryCode="CZ" value="+42">Czech Republic (+42)</option>
                                <option data-countryCode="DK" value="+45">Denmark (+45)</option>
                                <option data-countryCode="DJ" value="+253">Djibouti (+253)</option>
                                <option data-countryCode="DM" value="+1809">Dominica (+1809)</option>
                                <option data-countryCode="DO" value="+1809">Dominican Republic (+1809)</option>
                                <option data-countryCode="EC" value="+593">Ecuador (+593)</option>
                                <option data-countryCode="EG" value="+20">Egypt (+20)</option>
                                <option data-countryCode="SV" value="+503">El Salvador (+503)</option>
                                <option data-countryCode="GQ" value="+240">Equatorial Guinea (+240)</option>
                                <option data-countryCode="ER" value="+291">Eritrea (+291)</option>
                                <option data-countryCode="EE" value="+372">Estonia (+372)</option>
                                <option data-countryCode="ET" value="+251">Ethiopia (+251)</option>
                                <option data-countryCode="FK" value="+500">Falkland Islands (+500)</option>
                                <option data-countryCode="FO" value="+298">Faroe Islands (+298)</option>
                                <option data-countryCode="FJ" value="+679">Fiji (+679)</option>
                                <option data-countryCode="FI" value="+358">Finland (+358)</option>
                                <option data-countryCode="FR" value="+33">France (+33)</option>
                                <option data-countryCode="GF" value="+594">French Guiana (+594)</option>
                                <option data-countryCode="PF" value="+689">French Polynesia (+689)</option>
                                <option data-countryCode="GA" value="+241">Gabon (+241)</option>
                                <option data-countryCode="GM" value="+220">Gambia (+220)</option>
                                <option data-countryCode="GE" value="+7880">Georgia (+7880)</option>
                                <option data-countryCode="DE" value="+49">Germany (+49)</option>
                                <option data-countryCode="GH" value="+233">Ghana (+233)</option>
                                <option data-countryCode="GI" value="+350">Gibraltar (+350)</option>
                                <option data-countryCode="GR" value="+30">Greece (+30)</option>
                                <option data-countryCode="GL" value="+299">Greenland (+299)</option>
                                <option data-countryCode="GD" value="+1473">Grenada (+1473)</option>
                                <option data-countryCode="GP" value="+590">Guadeloupe (+590)</option>
                                <option data-countryCode="GU" value="+671">Guam (+671)</option>
                                <option data-countryCode="GT" value="+502">Guatemala (+502)</option>
                                <option data-countryCode="GN" value="+224">Guinea (+224)</option>
                                <option data-countryCode="GW" value="+245">Guinea - Bissau (+245)</option>
                                <option data-countryCode="GY" value="+592">Guyana (+592)</option>
                                <option data-countryCode="HT" value="+509">Haiti (+509)</option>
                                <option data-countryCode="HN" value="+504">Honduras (+504)</option>
                                <option data-countryCode="HK" value="+852">Hong Kong (+852)</option>
                                <option data-countryCode="HU" value="+36">Hungary (+36)</option>
                                <option data-countryCode="IS" value="+354">Iceland (+354)</option>
                                <option data-countryCode="IN" value="+91">India (+91)</option>
                                <option data-countryCode="ID" value="+62">Indonesia (+62)</option>
                                <option data-countryCode="IR" value="+98">Iran (+98)</option>
                                <option data-countryCode="IQ" value="+964">Iraq (+964)</option>
                                <option data-countryCode="IE" value="+353">Ireland (+353)</option>
                                <option data-countryCode="IL" value="+972">Israel (+972)</option>
                                <option data-countryCode="IT" value="+39">Italy (+39)</option>
                                <option data-countryCode="JM" value="+1876">Jamaica (+1876)</option>
                                <option data-countryCode="JP" value="+81">Japan (+81)</option>
                                <option data-countryCode="JO" value="+962">Jordan (+962)</option>
                                <option data-countryCode="KZ" value="+7">Kazakhstan (+7)</option>
                                <option data-countryCode="KE" value="+254">Kenya (+254)</option>
                                <option data-countryCode="KI" value="+686">Kiribati (+686)</option>
                                <option data-countryCode="KP" value="+850">Korea North (+850)</option>
                                <option data-countryCode="KR" value="+82">Korea South (+82)</option>
                                <option data-countryCode="KW" value="+965">Kuwait (+965)</option>
                                <option data-countryCode="KG" value="+996">Kyrgyzstan (+996)</option>
                                <option data-countryCode="LA" value="+856">Laos (+856)</option>
                                <option data-countryCode="LV" value="+371">Latvia (+371)</option>
                                <option data-countryCode="LB" value="+961">Lebanon (+961)</option>
                                <option data-countryCode="LS" value="+266">Lesotho (+266)</option>
                                <option data-countryCode="LR" value="+231">Liberia (+231)</option>
                                <option data-countryCode="LY" value="+218">Libya (+218)</option>
                                <option data-countryCode="LI" value="+417">Liechtenstein (+417)</option>
                                <option data-countryCode="LT" value="+370">Lithuania (+370)</option>
                                <option data-countryCode="LU" value="+352">Luxembourg (+352)</option>
                                <option data-countryCode="MO" value="+853">Macao (+853)</option>
                                <option data-countryCode="MK" value="+389">Macedonia (+389)</option>
                                <option data-countryCode="MG" value="+261">Madagascar (+261)</option>
                                <option data-countryCode="MW" value="+265">Malawi (+265)</option>
                                <option data-countryCode="MY" value="+60">Malaysia (+60)</option>
                                <option data-countryCode="MV" value="+960">Maldives (+960)</option>
                                <option data-countryCode="ML" value="+223">Mali (+223)</option>
                                <option data-countryCode="MT" value="+356">Malta (+356)</option>
                                <option data-countryCode="MH" value="+692">Marshall Islands (+692)</option>
                                <option data-countryCode="MQ" value="+596">Martinique (+596)</option>
                                <option data-countryCode="MR" value="+222">Mauritania (+222)</option>
                                <option data-countryCode="YT" value="+269">Mayotte (+269)</option>
                                <option data-countryCode="MX" value="+52">Mexico (+52)</option>
                                <option data-countryCode="FM" value="+691">Micronesia (+691)</option>
                                <option data-countryCode="MD" value="+373">Moldova (+373)</option>
                                <option data-countryCode="MC" value="+377">Monaco (+377)</option>
                                <option data-countryCode="MN" value="+976">Mongolia (+976)</option>
                                <option data-countryCode="MS" value="+1664">Montserrat (+1664)</option>
                                <option data-countryCode="MA" value="+212">Morocco (+212)</option>
                                <option data-countryCode="MZ" value="+258">Mozambique (+258)</option>
                                <option data-countryCode="MN" value="+95">Myanmar (+95)</option>
                                <option data-countryCode="NA" value="+264">Namibia (+264)</option>
                                <option data-countryCode="NR" value="+674">Nauru (+674)</option>
                                <option data-countryCode="NP" value="+977">Nepal (+977)</option>
                                <option data-countryCode="NL" value="+31">Netherlands (+31)</option>
                                <option data-countryCode="NC" value="+687">New Caledonia (+687)</option>
                                <option data-countryCode="NZ" value="+64">New Zealand (+64)</option>
                                <option data-countryCode="NI" value="+505">Nicaragua (+505)</option>
                                <option data-countryCode="NE" value="+227">Niger (+227)</option>
                                <option data-countryCode="NG" value="+234">Nigeria (+234)</option>
                                <option data-countryCode="NU" value="+683">Niue (+683)</option>
                                <option data-countryCode="NF" value="+672">Norfolk Islands (+672)</option>
                                <option data-countryCode="NP" value="+670">Northern Marianas (+670)</option>
                                <option data-countryCode="NO" value="+47">Norway (+47)</option>
                                <option data-countryCode="OM" value="+968">Oman (+968)</option>
                                <option data-countryCode="PK" value="+92">Pakistan (+92)</option>
                                <option data-countryCode="PW" value="+680">Palau (+680)</option>
                                <option data-countryCode="PA" value="+507">Panama (+507)</option>
                                <option data-countryCode="PG" value="+675">Papua New Guinea (+675)</option>
                                <option data-countryCode="PY" value="+595">Paraguay (+595)</option>
                                <option data-countryCode="PE" value="+51">Peru (+51)</option>
                                <option data-countryCode="PH" value="+63">Philippines (+63)</option>
                                <option data-countryCode="PL" value="+48">Poland (+48)</option>
                                <option data-countryCode="PT" value="+351">Portugal (+351)</option>
                                <option data-countryCode="PR" value="+1787">Puerto Rico (+1787)</option>
                                <option data-countryCode="QA" value="+974">Qatar (+974)</option>
                                <option data-countryCode="RE" value="+262">Reunion (+262)</option>
                                <option data-countryCode="RO" value="+40">Romania (+40)</option>
                                <option data-countryCode="RU" value="+7">Russia (+7)</option>
                                <option data-countryCode="RW" value="+250">Rwanda (+250)</option>
                                <option data-countryCode="SM" value="+378">San Marino (+378)</option>
                                <option data-countryCode="ST" value="+239">Sao Tome &amp; Principe (+239)</option>
                                <option data-countryCode="SA" value="+966">Saudi Arabia (+966)</option>
                                <option data-countryCode="SN" value="+221">Senegal (+221)</option>
                                <option data-countryCode="CS" value="+381">Serbia (+381)</option>
                                <option data-countryCode="SC" value="+248">Seychelles (+248)</option>
                                <option data-countryCode="SL" value="+232">Sierra Leone (+232)</option>
                                <option data-countryCode="SG" value="+65">Singapore (+65)</option>
                                <option data-countryCode="SK" value="+421">Slovak Republic (+421)</option>
                                <option data-countryCode="SI" value="+386">Slovenia (+386)</option>
                                <option data-countryCode="SB" value="+677">Solomon Islands (+677)</option>
                                <option data-countryCode="SO" value="+252">Somalia (+252)</option>
                                <option data-countryCode="ZA" value="+27">South Africa (+27)</option>
                                <option data-countryCode="ES" value="+34">Spain (+34)</option>
                                <option data-countryCode="LK" value="+94">Sri Lanka (+94)</option>
                                <option data-countryCode="SH" value="+290">St. Helena (+290)</option>
                                <option data-countryCode="KN" value="+1869">St. Kitts (+1869)</option>
                                <option data-countryCode="SC" value="+1758">St. Lucia (+1758)</option>
                                <option data-countryCode="SD" value="+249">Sudan (+249)</option>
                                <option data-countryCode="SR" value="+597">Suriname (+597)</option>
                                <option data-countryCode="SZ" value="+268">Swaziland (+268)</option>
                                <option data-countryCode="SE" value="+46">Sweden (+46)</option>
                                <option data-countryCode="CH" value="+41">Switzerland (+41)</option>
                                <option data-countryCode="SI" value="+963">Syria (+963)</option>
                                <option data-countryCode="TW" value="+886">Taiwan (+886)</option>
                                <option data-countryCode="TJ" value="+7">Tajikstan (+7)</option>
                                <option data-countryCode="TH" value="+66">Thailand (+66)</option>
                                <option data-countryCode="TG" value="+228">Togo (+228)</option>
                                <option data-countryCode="TO" value="+676">Tonga (+676)</option>
                                <option data-countryCode="TT" value="+1868">Trinidad &amp; Tobago (+1868)</option>
                                <option data-countryCode="TN" value="+216">Tunisia (+216)</option>
                                <option data-countryCode="TR" value="+90">Turkey (+90)</option>
                                <option data-countryCode="TM" value="+7">Turkmenistan (+7)</option>
                                <option data-countryCode="TM" value="+993">Turkmenistan (+993)</option>
                                <option data-countryCode="TC" value="+1649">Turks &amp; Caicos Islands (+1649)</option>
                                <option data-countryCode="TV" value="+688">Tuvalu (+688)</option>
                                <option data-countryCode="UG" value="+256">Uganda (+256)</option>
                                <option data-countryCode="GB" value="+44">UK (+44)</option>
                                <option data-countryCode="UA" value="+380">Ukraine (+380)</option>
                                <option data-countryCode="AE" value="+971">United Arab Emirates (+971)</option>
                                <option data-countryCode="UY" value="+598">Uruguay (+598)</option>
                                <option data-countryCode="US" value="+1">USA (+1)</option>
                                <option data-countryCode="UZ" value="+7">Uzbekistan (+7)</option>
                                <option data-countryCode="VU" value="+678">Vanuatu (+678)</option>
                                <option data-countryCode="VA" value="+379">Vatican City (+379)</option>
                                <option data-countryCode="VE" value="+58">Venezuela (+58)</option>
                                <option data-countryCode="VN" value="+84">Vietnam (+84)</option>
                                <option data-countryCode="VG" value="+84">Virgin Islands - British (+1284)</option>
                                <option data-countryCode="VI" value="+84">Virgin Islands - US (+1340)</option>
                                <option data-countryCode="WF" value="+681">Wallis &amp; Futuna (+681)</option>
                                <option data-countryCode="YE" value="+969">Yemen (North)(+969)</option>
                                <option data-countryCode="YE" value="+967">Yemen (South)(+967)</option>
                                <option data-countryCode="ZM" value="+260">Zambia (+260)</option>
                                <option data-countryCode="ZW" value="+263">Zimbabwe (+263)</option>
                            </select>
                            <input type="tel" class="form-control col-md-8" ng-model="saveReg.mobile"
                                placeholder="Mobile Number">
                            <p ng-show="errormsg.mobileerror.length>0">{{errormsg.mobileerror}}</p>
                        </div>
                        <div class="form-group col-md-12 nosidepadding save-order-btns">
                            <button ng-click="saveOrderUserDetails(saveReg)" ng-disabled="!regFormsave.$invalid"
                                class="btn btn-primary">Save</button>
                            <button class="btn btn-primary" ng-click="saveRegister=false;">Cancel</button>
                            <!-- ng-click="regCancel(reg)" -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="auth-pop-block return-msg" ng-show="returnMessage">
                <p>{{savedmsg}}</p>
                <!-- <button class="btn btn-primary" ng-click="saveRegister = false;savedmsg='';returnMessage=false;">OK</button> -->
                <a class="btn btn-primary" href="pricing" target="_self">OK</a>
            </div>
        </div>
    </div>
    <div ng-show="showauth" class="auth-popup">
        <authontication></authontication>
    </div>
    <div class="videoBg">
        <video src="css/img/video.mp4" loop autoplay muted></video>
        <div class="layer"></div>
    </div>

    <div class="cart-block">
        <h3 class="cart-title col-md-12">Selected Products</h3>
        <div ng-hide="showcheckout" class="checkout showcheckout col-md-12">
            {{storagename}}
            <table>
                <thead>
                    <tr>
                        <th class="col-md-4">PRODUCT DETAILS</th>
                        <th class="col-md-5">TENURE</th>
                        <th class="col-md-3">PRICE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items track by $index">
                        <td>
                            <h3>{{item.plan}}</h3>
                            <h4>{{item.subplan}}</h4>

                            <p ng-show="item.cpu.length>0" style="margin-bottom: 10px;">CPU:
                                <span>{{item.cpu}}</span>
                            </p>
                            <p ng-show="item.ram.length>0" style="margin-bottom: 10px;">RAM:
                                <span>{{item.ram}}</span>
                            </p>
                            <p ng-show="item.diskspace.length>0" style="margin-bottom: 10px;">Disk Space:
                                <span>{{item.diskspace}}</span>
                            </p>
                            <p ng-show="item.drive.length>0" style="margin-bottom: 10px;">Drive:
                                <span>{{item.drive}}</span>
                            </p>
                            <p ng-show="item.datatransfer.length>0" style="margin-bottom: 10px;">Data Transfer:
                                <span>{{item.datatransfer}}</span>
                            </p>
                            <p ng-show="item.ip.length>0" style="margin-bottom: 10px;">IP:
                                <span>{{item.ip}}</span>
                            </p>
                            <p ng-show="item.os.length>0" style="margin-bottom: 10px;">OS:
                                <span>{{item.os}}</span>
                            </p>
                            <p ng-show="item.database.length>0" style="margin-bottom: 10px;">Database:
                                <span>{{item.database}}</span>
                                <span ng-init="extraCores(item.database)" ng-show="extraCores">
                                    <br>
                                    <font color="red">*</font>2 core license cost included
                                </span>
                            </p>
                             <p ng-show="item.dedicatedBwPrice > 0" style="margin-bottom: 10px;">Dedicated Bandwidth:
                                <span>{{item.dedicatedBw}}</span>
            
                                <!-- <span>{{item.vpn}}</span> -->
                            </p>

                            <p ng-show="item.backup.length>0" style="margin-bottom: 10px;">Backup Storage:
                                <span>{{item.backup}}</span>
                            </p>

                            <p ng-show="item.backUpLicensePrice>0" style="margin-bottom: 10px;">Backup License:
                                <span>{{item.backUpLicense}}</span>
                            </p>
                            <label ng-if="item.backup !='0 GB'" style="font-size: 12px;color: red;text-align: center;">

                                {{item.additionaBackUpMessage}}

                            </label>

                            <p ng-show="item.vpn.length>0" style="margin-bottom: 10px;">VPN:
                                <span>{{item.vpn}}</span>
                            </p>

                            <p ng-show="item.MRCLicensePrice >0" style="margin-bottom: 10px;">MS RDP CAL License (MRC):
                                <span>{{item.MRCLicense}}</span>
                            </p>

                            <p ng-show="item.DRReplicationToolPrice>0" style="margin-bottom: 10px;">DR Replication Tool:
                                <span>{{item.DRReplicationTool}}</span>
                             </p>
              
                             <p ng-show="item.MigrationToolOtcPrice>0" style="margin-bottom: 10px;">OTC (Migration Tool):
                                <span>{{item.MigrationTool}}</span>
                             </p>
              
                             <p ng-show="item.SSLCertificatePrice>0" style="margin-bottom: 10px;">SSL Certificate:
                                <span>{{item.SSLCertificate}}</span>
                             </p>
              
                             <p ng-show="item.WebpanelPrice>0" style="margin-bottom: 10px;">Web Panel:
                                <span>{{item.Webpanel}}</span>
                             </p>
              
                             <p ng-show="item.dedicatedFirewallPrice>0" style="margin-bottom: 10px;">Dedicated Firewall:
                                <span>{{item.dedicatedFirewall}}</span>
                             </p>
              
                             <p ng-show="item.TwoFactorAuthenticationPrice>0" style="margin-bottom: 10px;"> Two Factor Authentication:    
                                <span>{{item.TwoFactorAuthentication}}</span>
                             </p>
              
                             <p ng-show="item.ElasticLoadBalancerPrice>0" style="margin-bottom: 10px;">Elastic Load Balancer per Server:
                                <span>{{item.ElasticLoadBalancer}}</span>
                             </p>

                            <p ng-show="item.antivirus.length>0" style="margin-bottom: 10px;">AntiVirus:
                                <span>{{item.antivirus}}</span>
                            </p>

                            <p ng-show="item.grandTotalTenureText !=''" style="margin-bottom: 10px;">{{item.grandTotalTenureText}}:
                                <span>{{item.amount | number:0}}/-
                                </span>
                             </p>
                              <!-- <p ng-show="item.grandTotalTenurePostText !=''" style="margin-bottom: 10px;">{{item.grandTotalTenurePostText}}:
                                <span>{{(item.amount) - (item.MigrationToolOtcPrice) | number:0}}/-
                                </span>
                             </p> -->

                            <p style="margin-bottom: 10px;">
                                Quantity:
                                <span  ng-click="increaseQty(item, $index)"
                                    ng-init="item.quantity=item.quantity" class="qtyhandler btn">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </span>
                                <input type="text" ng-model="item.quantity" disabled class="qty">
                                <span ng-click="decreaseQty(item, $index)" ng-init="item.quantity=item.quantity"
                                    class="qtyhandler btn">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </span>
                            </p>

                        </td>
                        <td>
                            <h3>&nbsp;</h3>
                            <select class="form-control col-md-8" ng-if="item.plan != 'Enterprise Dedicated Servers'"
                                ng-options="tenure.name for (price,tenure) in tenures" ng-model="selectCartTenure"
                                ng-init="selectCartTenure=tenures[tenureindexid(item.name)]"
                                ng-change="changeCartTenurelol(selectCartTenure, $index)">
                            </select>
                            <select class="form-control col-md-8" ng-if="item.plan == 'Enterprise Dedicated Servers'"
                                ng-options="tenure.name for (price,tenure) in tenuresenterprise"
                                ng-model="selectCartTenure"
                                ng-init="selectCartTenure=tenuresenterprise[tenureindexid(item.name)-1]"
                                ng-change="changeCartTenurelol(selectCartTenure, $index)">
                            </select>
                            <p class="col-md-12 nosidepadding item-notes">{{item.notes}}</p>
                           
                        </td>
                        <!-- <td>
                            <h3>&nbsp;</h3>
                            &#8377;{{item.amount | number:0}}
                            <span class="pull-right remove" ng-click="removeProduct($index, $event, items)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>

                        </td> -->

                        <td>
                            <h3>&nbsp;</h3>
                            &#8377;{{item.amount | number:0}}
                            <span class="pull-right remove" ng-click="removeProduct($index, $event, items)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>

                         

                        </td>

                    </tr>
                </tbody>
            </table>
            <!-- <p>
                <font color="red">*</font>OTC - One time setup charges
            </p> -->

            <!-- <p style="color: red;margin-top: 11px;font-size: 14px;" class="item-details-error" ng-if="totalmsmelimit>=checkRemainLimit">You monthly limit is exceeded. Please write to
                us at sales@pidatacenters.com</p>
            <p> -->


                <!-- <p>
                    <font color="red">*</font>Software licenses cost is inclusive of applicable GST
                </p> -->
                <p>
                    <input type="checkbox" ng-model="terms" id="terms-conditions-checkbox"> I have read and agree to the
                    following
                    <a target="_blank" href="https://pidatacenters.com/terms-conditions/" rel="nofollow">Terms and
                        Conditions</a>
                </p>
                <div class="col-md-12 checkout-prices">
                    <div class="col-md-8 text-right pull-right ">
                        <p>Total(MRC+OTC) :
                            <span>&#8377;{{totalplanprice | number:0}}/-</span>
                        </p>
                        <!-- <p>Total OTC :
                            <span>&#8377;{{otc_total | number:0}}/-</span>
                        </p> -->
                        <p>GST(18%) :
                            <span>&#8377;{{total_tax | number:0}}/-</span>
                        </p>
                        <p>Grand Total :
                            <span>&#8377;{{grand_total | number:0}}/-</span>
                        </p>
                    </div>
                </div>
                <div class="pull-right checkout-btn">
                    <!-- <a class="btn" ng-hide="terms" href="" ng-click="paynow(items)">Pay Now</a> -->

                    <!-- <a class="btn" target="_self" ng-href="{{terms ? 'finalreview':''}}" ng-click="paynow(items)">Pay
                        Now</a>
                    <button ng-click="saveOrder(items)" class="btn">Save</button>
                    <a class="btn" target="_self" ng-href="pricing">Cancel</a> -->

                    <!-- <a class="btn disabled" ng-if="totalmsmelimit>=checkRemainLimit" ng-disabled="disabled"
                        target="_self" ng-href="{{terms ? '#finalreview':''}}" ng-click="paynow(items)">Proceed</a> -->
    
                    <a class="btn"  target="_self"
                        ng-href="{{terms ? '#finalreview':''}}" ng-click="paynow(items)">Proceed</a>
                    <!-- <a class="btn" target="_self" ng-href="{{terms ? 'finalreview':''}}" ng-click="paynow(items)">Pay Now</a> -->
                    <button hidden ng-click="saveOrder(items)" class="btn">Save</button>
                    <!-- <button class="btn">Cancel</button> -->
                    <a style="padding: 25px 9px -14px;width: 50px;height: 50px; cursor: pointer;" ng-click="downloadPdf(items)"><span><img src="css/img/download_pdf.png" alt=""></span></a>
                    <a class="btn" target="_self" ng-href="pricing">Cancel</a>


                </div>
        </div>

    </div>

    <div id="mydiv" ng-show="loaderDiv" style="position: fixed;">
        <img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" class="ajax-loader"/>
    </div>


    <!-- ************************************************************************************************************************************** -->

    <div class="quotes row-001" ng-hide="true">
        <div class="container">
            <h1 class="txt-2">Industry Speaks</h1>
            <div class="tsml carousel-nav ">
                <div class="carousel-tsml" id="owl-demo">
                    <div class="item trans">
                        <!-- <div class="pic"><img src="<?php echo $baseurl;?>/wp-content/uploads/2015/08/tsml-1.jpg" alt="image" /></div> -->
                        <h4>Sridhar Gadhi
                            <span>Founder & CEO, Paradigm IT Group</span>
                        </h4>
                        <p>“Pi built by the best brains in the industry is best poised to usher in the next generation
                            evolution
                            in the Digital space for both Andhra Pradesh & India to unlock value for citizens &
                            enterprises
                            alike”
                        </p>
                    </div>
                    <div class="item trans">
                        <!-- <div class="pic"><img src="<?php echo $baseurl;?>/wp-content/uploads/2015/08/sudheer.jpg" alt="image" /></div> -->
                        <h4>Sudheer Kuppam
                            <span>Managing Partner - Epsilon Venture Partners
                                <br> ( Previously MD, Intel Capital APAC )</span>
                        </h4>
                        <p>“Pi is bringing world class state-of-the-art datacenter and cloud hosting capabilities to
                            India,
                            at a critical time, when there is a much needed impetus to build the country's digital
                            infrastructure.
                            The young and aspirational India led data demand as well as the digitization initiatives
                            driven
                            by the state and central governments provide a fantastic opportunity for entrepreneurs &
                            businesses
                            in the Indian cloud ecosystem. Pi is proud to be supporting a new digital India through its
                            low
                            latency solutions as well as fast & elastic applications enabling interconnection of both
                            businesses
                            and governments to their customers and citizens respectively.”</p>
                    </div>
                    <div class="item trans">
                        <!-- <div class="pic"><img src="<?php echo $baseurl;?>/wp-content/uploads/2015/08/narendra-gogula.jpg" alt="image" /></div> -->
                        <h4>Narendra Gogula
                            <span>Managing Director, Accenture</span>
                        </h4>
                        <p>“Pi DATACENTERS will be the enabler of Digital India. With the explosive growth of
                            mobile/cloud data
                            and continuous evolution of Internet of Things in India, there is an urgent need for data
                            centers
                            leveraging cutting edge technology. With a vision of excellence in customer service and deep
                            technology expertise, Pi DATACENTERS has the right leadership team to realize the exciting
                            phase
                            of Digital transformation in India.”</p>
                    </div>
                    <div class="item trans">
                        <!-- <div class="pic"><img src="<?php echo $baseurl;?>/wp-content/uploads/2015/08/Satyanarayana-1.jpg" alt="image" /></div> -->
                        <h4>Shri. J Satyanarayana, IAS (Retd)
                            <span>Chairperson, UIDAI</span>
                        </h4>
                        <p>“Pi is going to be a pioneer in infrastructure project and a critical contributor to the new
                            state
                            Andhra Pradesh and Digital India . It would play a crucial role in the growth of industry
                            and
                            share a key stage in development of e-Governance and e- Pragati.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>