sup {
    font-size: 8px
}

.hb_loginCtas {
    position: absolute;
    bottom: -60%;
    left: 160px;
}

.hb-btn_cl>li>a {
    display: block;
    padding: 12px 24px;
    background-color: #3d1b9b;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
    width: 160px;
    z-index: 1
}

body.dark {
    background-color: #2d2d2d
}

.hb-socialLinks.hb-footerSlinks>ul>li {
    padding: 0 8px
}

.hb-socialLinks.hb-footerSlinks>ul>li>a>img {
    width: 32px;
    height: 32px;
    padding: 6px;
    background-color: #fff;
    border-radius: 6px
}

.hb-productSec {
    max-width: 80%;
    margin: 0 auto
}


/* .skltbs-tab-item {
    background-color: #d5cef7 !important
} */

.skltbs-tab-item:hover {
    background-color: #3d1b9b !important
}

.skltbs-tab-group {
    margin: 48px auto;
    border-bottom: 4px solid #3d1b9b !important
}

.skltbs-tab-item>button {
    background-color: inherit !important;
    padding: 6px 0 0 !important;
    outline: none !important;
}

.skltbs-tab-item {
    margin: 0 6px !important
}

.skltbs-tab-item {
    position: relative;
    z-index: 2;
    cursor: pointer
}

.skltbs-tab-item:after,
.skltbs-tab-item:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #d5cef7
}

.skltbs-tab-item:before {
    right: -8px;
    transform: skew(30deg, 0deg);
    border-radius: 0 12px 0 0;
    box-shadow: rgba(0, 0, 0, .1) 3px 2px 5px, inset rgba(255, 255, 255, .09) -1px 0
}

.skltbs-tab-item:after {
    left: -8px;
    transform: skew(-30deg, 0deg);
    border-radius: 12px 0 0 0;
    box-shadow: rgba(0, 0, 0, .1) -3px 2px 5px, inset rgba(255, 255, 255, .09) 1px 0
}

.skltbs-tab-item.current {
    z-index: 3
}


/* .skltbs-tab-item.current,
.skltbs-tab-item.current:after,
.skltbs-tab-item.current:before {
    background-color: #3d1b9b !important;
    color: #fff
} */

.skltbs-tab-item:hover>button {
    color: #fff
}

.skltbs-tab-item:hover,
.skltbs-tab-item:hover:after,
.skltbs-tab-item:hover:before {
    background-color: #3d1b9b !important;
    color: #fff !important
}

.skltbs-tab-item {
    border-radius: 0 !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border: none !important;
    outline: none !important;
}

.hb-boxCont>a>span>img {
    max-width: 180px !important
}

.logo-dark {
    display: none !important
}

.dark .logo-light {
    display: none
}

.dark .logo-dark {
    display: block !important
}

.dark .hb-headCount,
.dark .mobile-view-btn {
    background-color: #1c1c1c
}

.dark .hb-inDrpCo>li>a,
.dark .hb-slideInfo>li>a,
.dark .mobile-view-btn,
.dark .tColor {
    color: #fff
}

.dark header {
    border-bottom: 1px solid #292c2f;
    background-color: #1c1c1c
}

.dark .hb-cloudPlatform,
.dark .hb-slideMenuCo {
    background-color: #1c1c1c
}

.dark .hb-boxCont {
    background-color: #282828
}

.dark .hb-boxCont>a>span>strong,
.dark .hb-cloudCont>h1 {
    color: #eee
}

.dark .hb-boxCont>a>span:last-child,
.dark .hb-cloudCont>p {
    color: #ccc
}

.dark .hb-journey {
    background-color: #282828;
    margin: 0;
    padding: 36px 0
}

.dark .hb-stats {
    background-color: #1c1c1c
}

.dark #overlay {
    background-color: #44434ecc
}

.dark .footer_bg_color {
    margin-top: 0;
    background-color: #100558
}

.dark .hb-jCont>h4 {
    font-size: 22px;
    color: #eee
}

.dark .hb-statCont>h3,
.dark .hb-statCont>h4 {
    color: #6a6adc
}

.dark .hb-CerSetion>h4,
.dark .hb-jCont>p,
.dark .hb-statCont>p {
    color: #ccc
}

.dark .hb-journeyCont>h3 {
    color: #d5cef7
}

.dark .hb-certication {
    padding: 42px 0;
    margin: 0;
    background-color: #1c1c1c
}

.dark .hb-bannerImg>picture {
    width: 100%;
    filter: brightness(.7)
}

.dark .owl-carousel .item a {
    width: 100%;
    background-color: #d5cef7;
    border-radius: 6px;
    padding: 20px
}

.dark .owl-carousel .item {
    margin: 0 12px
}

.hb-navLists>li {
    padding: 0 13px !important
}

.dark .dept-list-group {
    background-color: #d5cef7
}

.dark .heading_text {
    color: #fff
}

.dark .heading-para {
    color: #ccc
}

.dark .explore-dept {
    margin: 0 auto !important;
    padding: 60px 0;
    background-color: #282828
}

.dark #hb_products_Lists {
    margin: 0 auto;
    padding: 48px 0;
    background-color: #2d2d2d
}

.dark .hb-featuresList>li {
    background-color: #1c1c1c;
    border-top: 5px solid #d5cef7
}

.dark .hb-childProducts>h2,
.dark .hb-features>h3,
.dark .hb-productHead>h1 {
    color: #d5cef7
}

.dark .hb-productHead>p {
    color: #ccc
}

.dark .hb_ppCont>h3 {
    color: #d5cef7
}

.dark .hb_ppCont>p {
    color: #ccc
}

.dark .skltbs-tab-item.current>button {
    color: #fff
}

.dark .hb-idealFet>span>img {
    max-height: 36px;
    width: 36px;
    height: 36px;
    background-color: #d5cef7;
    padding: 8px;
    border-radius: 8px
}

.dark .hb-idealFet>p {
    color: #ccc
}

.hb-hoCont {
    padding-top: 30% !important
}

.dark .hb_ilp {
    color: #ccc
}

.dark .hb_ppCont>h5 {
    color: #fff8f8
}

.dark .sdhsd_ssdud {
    color: #ccc
}

.dark .hb-address>address>strong,
.dark .hb-address>span,
.dark .hb-blog_Info>h1,
.dark .hb-ce-tpCont>h1,
.dark .hb-contForm>h1,
.dark .hb-featCont>h6,
.dark .hb-helBox>h3,
.dark .hb-jorInfo>h2,
.dark .hb-lisCon>h5,
.dark .hb-ourCint>h2,
.dark .hb-ourCintInfo>h2,
.dark .hb-patnerLeft>h1,
.dark .hb-sapListInfo>h2,
.dark .hb-sdhsdhsd,
.dark .hb-service-INfo>h4,
.dark .hb-whatDoGet>h3 {
    color: #d5cef7
}

.dark .sdhsd_ssdud:hover {
    background-color: #100558;
    border: 1px solid #100558
}

.dark .hb-address>address>span,
.dark .hb-ce-tpCont>p,
.dark .hb-contForm>p,
.dark .hb-contact-form>.form-group>label,
.dark .hb-featCont>p,
.dark .hb-jorInfo>p,
.dark .hb-lisCon>p,
.dark .hb-mail>a,
.dark .hb-newsContDes>p,
.dark .hb-newsInf>p>span,
.dark .hb-ourCint>p,
.dark .hb-ourCintInfo>p,
.dark .hb-ourListCont>li>p,
.dark .hb-patnerLeft>p,
.dark .hb-sapListInfo>p,
.dark .hb-service-INfo>p,
.dark .hb-whatDoGet>p,
.hb-postinfo>p>span {
    color: #ccc
}

.dark .hb-ourListCont>li>span {
    background-color: #6b59ec;
    border: none
}

.dark .hb-listInfos_>li {
    background-color: #545454
}

.dark .hb-listInfos_>li:hover {
    box-shadow: 0 10px 50px 0 #3708b357;
    background-color: #100558
}

.dark .sap_certFicats>li>a {
    display: block;
    padding: 12px;
    background-color: #d5cef7;
    border-radius: 16px
}

.dark .hb-scWrkAvinash {
    color: #fff
}

.dark .hb-ceTpHeader,
.dark .hb-jorCont {
    background-color: #2d2d2d
}

.dark .hb-cuJoBox {
    background-color: #d5cef7
}

.dark .dep-active>.dept-list,
.dark .grid_view:hover,
.dark .hwi {
    background-color: #100558 !important
}

.dark .dep-active .grid_view {
    border: 1px solid #100558 !important
}

.dark .hb-bC_cni>p {
    color: #ccc !important
}

.dark .news-date:before {
    background: #6a6a1b;
    background: linear-gradient(45deg, #2d2d2d 45%, #6b59ec 50%, #6b59ec 56%, #6b59ec 80%)
}

.dark .hb-newsContDes>h2,
.dark .hb-newsContDes>span,
.dark .hb-relatedArticals>h4 {
    color: #d5cef7
}

.dark .hb-newsInf>p,
.dark .hb-newsInf>p>span,
.dark .hb-newsInf>p>strong {
    color: #ccc !important
}

.dark .hb-addr_list>li,
.dark .hb-contForm {
    background-color: #2d2d2d
}

.dark .hb-addr_list>li:hover {
    background-color: #100558
}

.dark .hb-bgG {
    background-color: #1c1d1d
}

.dark .hb-contact-form>.form-group>input,
.dark .hb-contact-form>.form-group>textarea {
    color: #100558;
    background-color: #d5cef7;
    border: 1px solid #d5cef7
}

.dark .rc-anchor-light {
    background: #d5cef7 !important;
    color: #000
}

.dark .hb-featLogo>img {
    max-width: 70px;
    padding: 16px;
    background-color: #d5cef7;
    border-radius: 10px
}

.dark .PageNotFound>h1 {
    color: #6a6adc
}

.dark .PageNotFound>a {
    margin-bottom: 24px
}

.dark .hb-slideArrow:after {
    border: solid #d5cef7;
    border-width: 0 2px 2px 0
}

.dark .hb-Jimg>p>img {
    background-color: inherit
}

.dark .abc {
    position: relative;
    background: linear-gradient(to right, rgb(0 0 0 / 80%) 50%, #333 102%)
}

@media (max-width: 900px) {
    .dark .hb-megaDropdown,
    .dark .hb_mobile-view-btn {
        background-color: #1c1c1c;
        color: #fff
    }
    .dark .backtoMenu,
    .dark .hb-drpIndCont>h3>a,
    .dark .hb-listCont>ul>li>a {
        color: #fff !important
    }
    .dark .hb-navmenu {
        background-color: #1c1c1c
    }
    .dark .backtoMenu:before,
    .dark .hasDroparrow:before {
        border: solid #ccc;
        border-width: 0 2px 2px 0
    }
    .dark .backtoMenu {
        color: #fff
    }
    .dark .hb-productSec {
        max-width: 100%
    }
    .dark .hb-mo {
        display: block
    }
    .dark .hb-cso {
        display: none
    }
    .hb-mo {
        display: block !important
    }
    .hb-cso {
        display: none !important
    }
    .dark .hb-inDrpCo {
        background-color: #1c1c1c
    }
}

@media (max-width: 767px) {
    .hb-socialLinks.hb-footerSlinks {
        display: block !important;
        text-align: center !important
    }
}

@media (max-width: 768px) {
    .hb_loginCtas {
        bottom: inherit;
        left: inherit;
        margin: 0 auto;
        top: 27%;
        left: 0;
        right: 0;
        text-align: center
    }
    .hb-btn_cl>li>a {
        font-size: 16px;
        width: 120px
    }
    .hb-cuJoBox {
        min-height: inherit !important
    }
    .hb-cuJoBox>h3 {
        margin: 16px auto 16px !important
    }
    .hb-productSec {
        max-width: 100% !important
    }
}

.dark p {
    color: #ccc;
}