body {
    background: #F2F5F7;
    min-height: calc(100vh - 100px);
    color: #707070;
    font-family: 'Roboto', sans-serif;
    background: url(https://partnerportal.pidatacenters.com/assets/images/architecture-buildings.jpg);
    background-position: top;
    background-size: cover;
}

.header_nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
    z-index: 10;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.logo_cont {
    height: 60px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.logo_cont img {
    height: 60px;
    width: auto;
}

.nav_heading {
    padding-top: 20px;
    color: #707070;
    font-weight: bold;
}

.card {
    padding: 20px;
    box-shadow: 1px 1px 8px rgba(251, 47, 47, 0.6);
}

.main_content {
    margin-top: 100px;
}

@media screen and (max-width:361px) {
    body {
        font-size: 0.65rem;
    }

    .header_nav {
        height: 60px;
    }

    .logo_cont {
        height: 40px;
    }

    .logo_cont img {
        height: 40px;
    }

    .h3,
    h3 {
        font-size: 1rem;
    }

    .h4,
    h4 {
        font-size: 0.85rem;
    }

    .h6,
    h6 {
        font-size: 0.65rem;
    }

    .nav_heading {
        padding-top: 12px;
    }

    .btn {
        font-size: 0.65rem;
    }
}
