Options +FollowSymLinks
RewriteEngine On
RewriteBase /test-partnerportal-ck/

<IfModule mod_negotiation.c>
  Options -MultiViews -Indexes
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php !-f
RewriteRule ^partners/(.+)/view$ single-partner.php?f1=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php !-f
RewriteRule ^trainings/(\d+)$ trainings/single-training.php?f1=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php !-f
RewriteRule ^events/(\d+)$ events/single-event.php?f1=$1 [L]